.contactDiv {
  width: 400px;
  margin: 0 auto;
  height: 100vh;
}

/* Contact.js */
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form > input,
textarea {
  font-family: inherit;
  padding: 20px;
  border-radius: 3px;
  border: 1px solid lightgray;
  background: #fff;
  font-size: 16px;
  color: rgb(0, 0, 32);
  outline: none;
}

.form > textarea {
  height: 150px;
  max-width: 400px;
  min-height: 100px;
}

.form > label {
  padding-bottom: 10px;
  color: #ece7b4;
  font-weight: bold;
}

.send {
  padding: 20px;
  border: none;
  font-weight: 500;
  font-size: 20px;
  border-radius: 3px;
  margin-top: 10px;
}

.send:enabled {
  background-color: #f3efcc;
  cursor: pointer;
  color: #406343;
  transition: 0.2s ease-in-out;
}

.send:enabled:hover {
  background-color: #ffffff;
}

.send:disabled {
  color: #5b5b5b;
  cursor: default;
}

.result {
  padding-bottom: 1rem;
  margin: 0;
  color: rgb(168, 27, 27);
}

.form-success {
  text-align: center;
  margin-top: 3rem;
  color: #ece7b4;
  font-size: large;
}

/* Responsive Styles */
@media screen and (max-width: 480px) {
  .contactDiv {
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    height: auto;
  }
}