.block {
  display: grid;
  place-items: center;
  height: 100%;
}

.links {
  padding: 0;
  margin: 0;
  background-color: #f3efcc;
  border-radius: 7px;
  max-height: 80vh;
  min-width: 50vh;
  overflow-y: auto;
}

.link {
  display: flex;
  font-size: large;
}

.link img {
  margin: 0 1rem;
}

.link a {
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #406343;
  min-width: 100%;
}

.link a:hover {
  color: #95b098;
  background-color: rgba(255, 255, 255, 0.47);
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .block {
    margin: 1rem; /* Add margin to the block for spacing */
  }

  .links {
    min-width: auto; /* Remove the minimum width constraint */
    max-height: none; /* Remove the maximum height constraint */
    height: auto; /* Adjust the height to fit the content */
  }
}
