/* Standards-based (Firefox, Chrome 121+) */
* {
  scrollbar-color: var(--color-neutral-600) var(--color-neutral-100);
  scrollbar-width: auto;
}

/* WebKit fallback */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: var(--color-neutral-100);
  border-radius: var(--radius-md);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-neutral-600);
  border-radius: var(--radius-md);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-neutral-700);
}
