.city-title {
  margin: 0;
  padding: 0;
  color: #f3efcc;
}
/* View Button on .\StatesFolder\California\CA_Components\CACities.js */
.view-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 25px 0px 0px;
}

.view-btn button {
  background-color: #f3efcc;
  display: flex;
  padding: 0.7rem;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

.view-btn button:hover {
  background-color: #ffffff;
  color: #569156;
}

.view-btn button:active {
  background-color: #f7f5e8;
  color: black;
}

.cities {
  display: block;
}
