.contactDiv {
  width: 400px;
  margin: 0 auto;
  height: 100vh;
}

/* Contact.js */
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form > input,
textarea {
  font-family: inherit;
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  background: #fff;
  font-size: 16px;
  color: rgb(0, 0, 32);
  outline: none;
}

.form > input:focus,
textarea:focus {
  border: 1px solid rgb(0, 0, 196);
}

.form > textarea {
  height: 150px;
  max-width: 400px;
  min-height: 100px;
}

.form > label {
  padding-bottom: 10px;
  color: #ece7b4;
  font-weight: bold;
}

.form > button {
  padding: 20px;
  border: none;
  background-color: #f3efcc;
  font-weight: 500;
  font-size: 20px;
  border-radius: 3px;
  color: #406343;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 10px;
}

.form > button:hover {
  background-color: #ffffff;
}
